<% if @section.any? %>

<ul>
  <% @section.each do |section| %>
    <li><%= link_to section.name, section_path(section) %></li>
  <% end %>
</ul>
<% else %>
<p>
  You done messed up!
</p>
<hr>
<% end %>
