<h1>Chapters</h1>
<% if @chapters.any? %>
  <ul>
    <% @chapters.each do |chapter| %>
      <li><%= link_to chapter.name, chapter_path(chapter) %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<%= link_to "New Chapter", new_chapter_path %>
